main {
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 20px;
}


body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

/* For top header "HTML & CSS Crash Course */
header{
    width: 100%;
    font-size: 50px;
    text-align: center;
    position: relative;
    left: 0;
    top: 0; 
    z-index: 1;
}

/* Styling for banner */
.banner{
   position: relative;
   padding: 0px;
   margin: 0px;
}
.banner img {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
}
.stretch {
    width: 100%;
    height: 100%;
}


/* Nav Styling */

nav {
    background-color: gray;
    padding: 15px;
    /* position: sticky; */
    top: 100px; /* You will need to edit this more */
}
nav ul{
    white-space: nowrap; /*Sets all 4 selections onto navbar */
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
} 
nav li a{
    text-decoration: none;
    color:#0366fc;
}  


/* Class Section */


.headingformat {
    color: black;
    font-size: 36px;
    text-align: center;

}


.nextpage0{
    text-align: right;
    text-decoration: none;

}

/* Previous and Next Button Design */

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px
}
a:hover {
    background-color: #ddd;
    color: black;
}
.prev {
    background: #f1f1f1;
}
.next{
    background-color: #04AA6D;
    color: black;
}
.round {
    border-radius: 50%;
}

/* Below is center class for images */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

