main {
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 20px;
}


body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

/* For top header "HTML & CSS Crash Course */
header{
    width: 100%;
    font-size: 50px;
    text-align: center;
    position: relative;
    left: 0;
    top: 0; 
    z-index: 1;
}

/* Styling for banner */
.banner{
   position: relative;
   padding: 0px;
   margin: 0px;
}
.banner img {
    width: 100%;
    height: 50%;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
}
.stretch {
    width: 100%;
    height: 50%;
}


/* Nav Styling */

nav {
    background-color: gray;
    padding: 15px;
    /* position: sticky; */
    top: 100px; /* You will need to edit this more */
}
nav ul{
    white-space: nowrap; /*Sets all 4 selections onto navbar */
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width: 42%;
    display: inline-block;
    font-size: 24px;
} 
nav li a{
    text-decoration: none;
    color:#0366fc;
}  


/* Class Section */


.headingformat {
    color: black;
    font-size: 36px;
    text-align: center;

}


/* Previous and Next Button Design */

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px
}
a:hover {
    background-color: darkblue;
    color: white;
}
.prev {
    background-color: #164285;
    color: black;
}
.next{
    background-color: #164285;
    color: black;
    text-align: right;
}
.round {
    border-radius: 50%;
}

/* Below is center class for images */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
/* For centering multiple images in a row */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* For <p> format in index2 */

.pformat {
    text-align: center;
    font-size: 18px;
}

/* These classes is for css.html --> instead of making a picture */
.codeformat{
    background-color: black;
    color: white;
    width: 50%;
}
.tab {
    margin-left:40px;
}

/* Class to center P */
.pcenter {
    text-align: center;
    font-size: 22px;
}

.imgpadding {
    padding: 5px;
}

/* Classes for centering multiple divs next to each other */
.parent {
    margin: 1rem;
    text-align: center;
}
.child {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}
.child1 {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    border: solid 2px black;
}
/* congratulations message at end of the course */
.congrats{
    text-align: center;
    font-size: 40px;
    color: black;
}

/* Media queries syntax */

@media screen and (max-width: 1000px){
    
    header{
        width: 100%;
        font-size: 30px;
        text-align: center;
        position: relative;
        left: 0;
        top: 0; 
        z-index: 1;
    }
    .container {
        display:contents;
        justify-content: center;
        align-items: center;
    }
    
}
